.Main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  
&-about{
    margin-top: 20px;

img{
    width: 240px;
    height: 240px;
    border-radius: 50px;
}
&-title{
    margin-top: 40px;
    text-align: center;

    h3{
        padding-bottom: 15px;
    }

    h4{
        padding-bottom: 15px;
    }
    button{
        width: 100px;
    }
}

}


}